@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-xl font-medium;
  }

  h2 {
    @apply text-4xl font-bold;
  }
}

@layer components {
  .container {
    @apply w-10/12
  }

  .btn {
    @apply rounded-none border-none
  }

  .btn-primary {
    @apply bg-gradient-to-tr from-primary to-primary-light
  }

  .btn-secondary {
    @apply bg-gradient-to-tr from-secondary to-accent
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.slick-slide {
  padding: 20px;
}

.slick-prev {
  left: -20px;
  z-index: 9;
}

.slick-next {
  right: -20px;
  z-index: 9;
}

.slick-prev:before,
.slick-next:before {
  color: #fc4949 !important;
}

.slick-dots {
  bottom: 0px;
}


/* background-color: rgb(30, 58, 138);
background-image: radial-gradient(at 100% 0%, rgb(15, 23, 42) 0, transparent 100%), radial-gradient(at 0% 100%, rgb(15, 23, 42) 0, transparent 100%); */